//
.news-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news {
    //width: 50%;
    margin-bottom: 3rem;
}
.news__image {
    margin-bottom: 0.5rem;
}
.news__image img{
    border-radius: 10px;
    width: 100%;
}

.news__category {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.news__category-label {
    width: 8px;
    height: 8px;
    content: '';
    -webkit-transform: scale(.95);
    transform: scale(.95);
    background-color: #007bff;//#852cb5;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.news__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.news__likes {
    user-select: none;
}
.news__likes svg{
    cursor: pointer;
}

.news__header {

}

.controls {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preview-image {
    margin-top: 1rem;
    width: 50%;
}
.sortWrapper {
    margin-bottom: 2rem;
}
